.nav-wrapper img {
  height: 80px;
  margin: 10px 30px;
}

.nav-wrapper li {
  text-transform: uppercase;
}

.nav-wrapper {
  background-color: #1c1c1c
}

nav ul a {
  font-weight: bold;
}

nav ul a:hover {
  background-color: #302c2c;
}

nav ul {
  margin: 0px 30px;
}


@media only screen and (max-width:850px) and (min-width:740px) {
  .hide-on-med-custom {
    display: none !important;
  }
}

@media only screen and (max-width: 739px) {
  .hide-on-sm-custom {
    display: none !important;
  }
}

.navbar-fixed {
  z-index: 9999;
}

.side-nav li:first-child {
  margin: 30px 0 0 0;
}

footer li {
  text-transform: uppercase;
}

.page-footer {
  background-color: #63783E;
}

.page-footer .footer-copyright {
  background-color: #202020;
}

.parallax-container {
  height: 600px;
}

main .container {
  background-color:rgba(255, 255, 255, 0.2);
  color: #555
}

main h2 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2em;
}

.card {
  border-radius: 20px;
}

.content-custom {
  border-radius: 20px;
}

.parallax-container .container {
  margin-top: 100px;
}

.tabs .tab a {
  color: #63783E;
  text-transform: capitalize;
}

.tabs .tab a:hover {
  color: #516331;
  text-transform: capitalize;
}


.tabs .tab a.active {
  color: #516331;
  text-transform: capitalize;
}

.tabs .indicator  {
  background-color: #63783E;
}

.card .card-content .card-title-custom {
  color: #63783E;
  font-size: 1.5em
}


main .container .row {
  margin: 0em 2em;
}

.row-padded {
  padding-top: 2em;
  padding-bottom: 2em;
}

.logo-float {
  margin-top: -5em !important;
  z-index: 999 !important;

}

.logo-float img {
  height: 50;
  width: 50;
  z-index: 999;
}
