.nav-wrapper img {
  height: 80px;
  margin: 10px 30px;
}

.nav-wrapper li {
  text-transform: uppercase;
}

.nav-wrapper {
  background-color: #1c1c1c
}

nav ul a:hover {
  background-color: #302c2c;
}

nav ul {
  margin: 0px 30px;
}

@media only screen and (min-width: 720px) {
  .hide-on-med-and-up-custom {
    display: none !important;
  }
}

@media only screen and (max-width:992px) and (min-width:720px) {
  .hide-on-med-custom {
    display: none !important;
  }
}

@media only screen and (max-width: 719px) {
  .hide-on-sm-custom {
    display: none !important;
  }
}

.navbar-fixed {
  z-index: 9999;
}

.side-nav li:first-child {
  margin: 30px 0 0 0;
}

footer li {
  text-transform: uppercase;
}

.page-footer {
  background-color: #63783E;
}

.page-footer .footer-copyright {
  background-color: #202020;
}

.parallax-container {
  height: 600px;
}

main .container {
  background: #fff;
  opacity: 0.2;
}

.card {
  border-radius: 20px;
}

.content-custom {
  border-radius: 20px;
}

.parallax-container .container {
  margin-top: 100px;
}
