* {
  margin: 0px;
  padding: 0px;
  color: rgba(51, 51, 51, 1);
  font-family: 'Work Sans', sans-serif;
}

body

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  height: 200px;
  width: 100%;
  grid-template-columns: 1fr 20px 980px 20px 1fr;
  grid-template-rows: 45px 30px;

  .main {
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgba(51, 51, 51, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sub {
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgba(100, 100, 100, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}


.content {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 20px 980px 20px 1fr;
  grid-template-rows: 75px auto;

  header {
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgba(51, 51, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main {
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgba(51, 51, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div.overlay {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: rgba(51, 51, 51, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


}
