@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
$grid-columns: 1fr 10px 960px 10px 1fr;
// $grid-columns: 1fr 10px 80px 380px 40px 380px 80px 10px 1fr;
$main-grid-rows: 70px auto;

* {
  margin: 0;
  padding: 0;
  color: rgba(51, 51, 51, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 0px;
}

body {
  background-image: url("/images/b_image2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  height: 200px;
  width: 100%;
  grid-template-columns: $grid-columns;
  grid-template-rows: 40px 30px;

  li {
    list-style-type: none;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    transition: background-color 0.5s ease;
    cursor: pointer;
    color: #EBEBDB;
  }

  .main-nav {
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #44443a;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      font-weight: 600;
      font-size: 14px;
      padding: 0 10px;

      &:hover {
        background-color: rgba(255,255,255,.1);
      }
    }
  }

  .sub-nav {
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #605e51;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      font-weight: 500;
      font-size: 12px;
      padding: 0 10px;

      &:hover {
        background-color: rgba(255,255,255,.1);
      }
    }
  }
}

.content {
  display: grid;
  height: 100vh;
  grid-template-columns: $grid-columns;
  grid-template-rows: $main-grid-rows;

  header {
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 8;
    background-color: rgba(51, 51, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main {
    width: 100%;
    display: grid;
    grid-template-columns: 80px 380px 40px 380px 80px;
    grid-template-rows: 600px 600px;

    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgba(229, 230, 190,.85);


    .full-image {
      grid-row: 1;
      grid-column-start: 2;
      grid-column-end: 5;
      justify-self: center;
      align-self: center;
      background-color: red;
      width: 100%;


      img {
        width: 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
        // box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
        // box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
        // box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);

      }
    }
  }

  div.overlay {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
